h1{
    text-align: center;
}
.container{
    background-color: black;
    margin: auto;
    width: 20vw;
    /* flex-wrap: wrap; */
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 12px;
    padding:23px 4px;
}
.button{
    width: 4vw;
    height: 6vh;
    border: 2px solid black;
    font-size: 100%;
    border-radius: 12px;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(0, 159, 233);
}
.row{
    margin: 3px;
}
.form{
    margin: 7px;
    border-radius: 14px;
    border: 2px solid black;
    font-size: 25px;
    width: 16vw;
    height: 11vh;
}

@media (max-width : 455px) {
    .container {
        width: 100vw;
    }
    .button {
        width: 20vw;
    }
    .form{
        width: 85vw;
    }
}
